.chat-message {
    display: flex;
    flex-direction: column;
    margin: 8px 4px;
    padding: 4px;
    background-color: var(--background-color-transparent);
    border: solid var(--border-color) 1px;
}

.chat-author {
    border-bottom: solid var(--border-color) 1px;
    padding: 6px;
}

.chat-text {
    min-height: 21px;
    padding: 6px;
}