<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="layout :: head"></th:block>
  <title>Заголовок</title>
</head>
<body>
<div class="container">
  <header th:include="layout :: header"></header>

  <div class="full-wrapper">
    <div class="content">
      <p>Страничка для админа.</p>
    </div>
    <hr>
    <div class="sidebar">
      <div th:replace="layout :: sidebar"></div>
    </div>
  </div>

  <footer th:include="layout :: footer"></footer>
</div>
</body>
</html>
