:root {
    /*Стиль фона*/
    --background-color: rgb(255, 255, 255);
    --background-color-transparent: rgba(255, 255, 255, 0.8);

    /*Стиль текста*/
    --text-color: rgb(48, 48, 48);

    /*Стиль кнопок*/
    --button-color: rgb(64, 128, 64);
    --button-background-color: rgb(255, 255, 255);
    --button-background-color-hover: rgb(64, 128, 64);
    --button-color-hover: rgb(255, 255, 255);

    /*Стиль обводок*/
    --shadow-color: black;
    --border-color: rgb(64, 128, 64);
}

* {
    font-size: 18px;
    user-select: none;
    -webkit-user-drag: none;
}

html {
    background: white url("/images/bg.png") no-repeat center center/cover fixed;
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*Выделенный контент*/
::selection {
}

body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1080px;
    box-shadow: 0 0 4px var(--shadow-color);
    color: var(--text-color);
    background-color: var(--background-color-transparent);
}

header,
footer {
    z-index: 5;
    display: flex;
    max-height: 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px var(--shadow-color);
    padding: 12px;
    border-radius: 6px;
    background-color: var(--background-color);
}

header {
    margin: 8px 8px 0;
    top: 8px;
    position: sticky;
}

header > a > h1 {
    color: var(--text-color);
    font-size: 32px;
    margin: 0;
    padding: 8px;
}

footer {
    margin: 0 8px 8px;
}

footer > p {
    user-select: none;
}

.full-wrapper {
    display: flex;
    flex-grow: 1;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 5 0 0;
    margin: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    margin-right: 16px;
    box-shadow: 0 0 2px var(--shadow-color), 0 0 2px var(--shadow-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--button-color);
    transition: all 0.2s;
}

p {
    color: var(--text-color);
    margin: 0;
    padding: 8px;
    word-break: break-word;
    user-select: text;
}

.input-green {
    background-color: var(--background-color);
    outline-color: var(--border-color);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: rgb(64, 128, 64) !important;
}

.button-green {
    border-radius: 6px;
    background-color: var(--background-color);
    margin: 8px 0;
    border: 1px solid var(--border-color);
    color: var(--button-color);
    padding: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

.button-green:hover {
    color: white;
    background-color: var(--button-background-color-hover);
}

.error {
    color: red;
    text-align: center;
}


@media (max-width: 1080px) {
    .sidebar {
        display: none;
    }
}
