.post-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 4px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid rgb(64, 128, 64) 1px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-bottom: solid rgb(64, 128, 64) 1px;
}

.post-content {
    padding: 6px;
    white-space: pre-wrap;
}

.post-delete-button {
    cursor: pointer;
}