.post-wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 4px;
    padding: 4px;
    background-color: var(--background-color-transparent);
    border: solid var(--border-color) 1px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-bottom: solid var(--border-color) 1px;
}

.post-content {
    padding: 6px;
    white-space: pre-wrap;
}

.post-delete-button {
    cursor: pointer;
}