div#navbar {
    display: none;
    flex-direction: column;
    margin: auto 0 0 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}

div#navbar:hover {
    box-shadow: 0 0 4px black;
}

.navbar_icon {
    background: url("/images/burger.png") center/40px 40px;
    align-self: flex-end;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    border: none;
}

div#navbar_menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 2px black;
}

.navbar:hover .navbar_icon {
    transform: scale(1.1);
}

div#navbar_menu > a {
    padding: 12px;
    color: rgb(64, 128, 64);
}


@media (max-width: 1080px) {
    div#navbar {
        display: flex;
    }
}