.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(99, 99, 99, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    animation: fadeIn 0.5s;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    animation: slideIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
}