.user-card {
    display: grid;
    grid-template-columns: 160px 1fr 200px;
    grid-template-rows: 30px 130px;

    box-shadow: 0 0 4px black;
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.user-card-image {
    grid-area: 1 / 1 / 3 / 2;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card-name {
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
    font-size: 26px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card-role {
    grid-area: 1 / 3 / 2 / 4;
    border-left: solid rgb(64, 128, 64) 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card-info {
    grid-area: 2 / 2 / 3 / 4;
    border-top: solid rgb(64, 128, 64) 2px;
    padding: 5px;
}

@media (max-width: 1200px) {
    .user-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 160px 40px 1fr;
    }

    .user-card-image {
        grid-area: 1 / 1 / 2 / 3;
    }

    .user-card-name {
        grid-area: 2 / 1 / 3 / 2;
        border: solid rgb(64, 128, 64) 2px;
        border-left: none;
        border-bottom: none;
    }

    .user-card-role {
        grid-area: 2 / 2 / 3 / 3;
        border-top: solid rgb(64, 128, 64) 2px;
        border-left: none;
    }

    .user-card-info {
        grid-area: 3 / 1 / 4 / 3;
        border-top: none;
    }
}
