<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="com.alamega.alamegaspringapp.user.User"*/-->
<head>
  <th:block th:include="layout :: head('Сайтик')"></th:block>
</head>
<body>
  <div class="container">
    <header th:include="layout :: header"></header>

    <div class="full-wrapper">
      <div class="content">
        <p th:inline="text" th:if="${user}!=null">
          Здравствуйте, <a style="padding: 0" th:href="@{'/users/'+${user.getUsername()}}" th:text="${user.getUsername()}"></a>!
        </p>
        <button class="button" onclick="window.location.href = '/admin'" th:if="${user!=null && user.getRole() == 'ADMIN'}">Админка</button>
      </div>
      <div class="sidebar">
        <div th:replace="layout :: sidebar"></div>
      </div>
    </div>

    <footer th:include="layout :: footer"></footer>
  </div>
</body>
</html>
