<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Сайтик</title>
    <th:block th:include="layout :: head"></th:block>
  </head>

  <body>
    <div class="container">
      <header th:replace="layout :: header"></header>

      <div class="content">
        <div id="clock">Где я потерял свои часы?</div>

        <div th:if="user != null">
          <p th:text="${user.getUsername()}"></p>
          <p th:text="${user.getPassword()}"></p>
          <p th:text="${user.getRole()}"></p>
        </div>

        <script src="/scripts/clock.js"></script>
        <a href="./game.html">GAME.js</a>
        <a href="./admin.html">Админ</a>
        <a href="./user.html">Юзер</a>
      </div>

      <footer th:replace="layout :: footer"></footer>
    </div>
  </body>
</html>
