<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/png" sizes="320x320" rel="icon" href="/images/icon.png" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
    <title>Сайтик</title>
</head>

<!--Менюшечка гы-->
<div th:fragment="menu">
    <a href="/login" th:if="!${#httpServletRequest.getRemoteUser()}">Вход</a>
    <a href="/registration" th:if="!${#httpServletRequest.getRemoteUser()}">Регистрация</a>
    <a th:href="@{'/users/'+${#httpServletRequest.getRemoteUser()}}" th:if="${#httpServletRequest.getRemoteUser()}">Личный кабинет</a>
    <a href="/game">Игра</a>
    <!--ССылочки ахаха-->
    <script src="/scripts/cssAnime.js"></script>
    <a style="cursor: pointer" onclick="getByakByak()">Бяк бяк</a>
    <form class="form_center" th:action="@{/logout}" th:method="post" th:if="${#httpServletRequest.getRemoteUser()}">
        <button class="btn-to-a" style="padding: 0">Выход</button>
    </form>
</div>

<body>
    <header th:fragment="header">
        <a href="/">Alamega</a>
        <div class="navbar" id="navbar">
            <button class="navbar_icon" id="navbar_btn"></button>
            <div class="navbar_menu" id="navbar_menu">
                <th:block th:include="layout :: menu"></th:block>
            </div>
        </div>
            <script>
                const menu = document.getElementById("navbar_menu");
                const navbar = document.getElementById("navbar");
                const btn = document.getElementById("navbar_btn");
                menu.style.display = "none";
                btn.addEventListener("click", () => {
                    if (menu.style.display) {
                        navbar.style.boxShadow = "0 0 4px black";
                        menu.style.display = "";
                    } else {
                        navbar.style.boxShadow = "";
                        menu.style.display = "none";
                    }
                });
            </script>
    </header>

    <footer th:fragment="footer">
        <p>&copy Made by Alamega</p>
    </footer>
</body>
</html>