<!--HEAD-->
<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link type="image/png" sizes="320x320" rel="icon" href="/images/icon.png" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <script src="/scripts/toggleElVisible.js"></script>
  <!--/*@thymesVar id="title" type="String"*/-->
  <title th:text="${title}"></title>
</head>

<!--HEADER-->
<header th:fragment="header">
  <a href="/"><h1>Alamega</h1></a>
  <div id="clock">Где я потерял свои часы?</div>
  <script src="/scripts/clock.js"></script>
  <div class="navbar" id="navbar">
    <button class="navbar_icon" id="navbar_btn"></button>
    <div class="navbar_menu" id="navbar_menu" th:include="layout :: menu"></div>
  </div>
  <script src="/scripts/navbar.js"></script>
</header>

<!--MENU-->
<div th:fragment="menu">
  <a href="/login" th:if="!${#httpServletRequest.getRemoteUser()}">Вход</a>
  <a href="/registration" th:if="!${#httpServletRequest.getRemoteUser()}">Регистрация</a>
  <a th:href="@{'/users/'+${#httpServletRequest.getRemoteUser()}}" th:if="${#httpServletRequest.getRemoteUser()}">Личный кабинет</a>
  <a href="/game" th:if="${#httpServletRequest.getRemoteUser()}">Игра</a>
  <script src="/scripts/anime.js"></script>
  <a style="cursor: pointer" onclick="anime()" th:if="${#httpServletRequest.getRemoteUser()}">Бяк бяк</a>
  <a href="/logout" th:if="${#httpServletRequest.getRemoteUser()}">Выход</a>
</div>

<!--SIDEBAR-->
<th:block th:fragment="sidebar" th:include="layout :: menu"></th:block>

<!--FOOTER-->
<footer th:fragment="footer">
  <p>&copy Made by Alamega</p>
</footer>