<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="layout :: head"></th:block>
  <title>Заголовок</title>
</head>
<body>
<div class="container">
  <header th:include="layout :: header"></header>

  <div class="full-wrapper">
    <div class="content">
      <p>Задержка 2 секунды</p>
      <p>Контент до скрипта</p>
      <script src="/scripts/fetch.js" onload="getList('/api/test')"></script>
      <div id="el"></div>
      <p>Контент после скрипта</p>
    </div>
    <div class="sidebar">
      <div th:replace="layout :: sidebar"></div>
    </div>
  </div>

  <footer th:include="layout :: footer"></footer>
</div>
</body>
</html>
