<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout :: head"></th:block>
    <title th:text="${user.getUsername()}">Пользователь</title>
</head>
<body>
<div class="container">
    <header th:include="layout :: header"></header>

    <div class="full-wrapper">
        <div class="content">
            <!--/*@thymesVar id="user" type="com.alamega.alamegaspringapp.user.User"*/-->
            <h1 class="title" th:text="${user.getUsername()}"></h1>
            <div th:switch="${user.getRole}">
                <p>
                    Роль:
                    <span th:case="'ADMIN'" style="color: red">Администратор</span>
                    <span th:case="'USER'" style="color: green">Пользователь</span>
                    <span th:case="*">Чёрт</span>
                </p>
            </div>

            <th:block th:if="${currentUser.getUsername() == user.getUsername()}" >
                <script>
                    function changeVisible() {
                        let post = document.getElementById("new-post");
                        if (post.style.display == "none"){
                            post.style.display="";
                        } else {
                            post.style.display="none";
                        }
                    }
                </script>
                <button class="button" onclick="changeVisible()">Новый пост</button>
                <div class="new-post" id="new-post" style="display: none">
                    <form class="form_center" th:action="@{/posts}" method="post">
                        <label for="title">Заголовок</label>
                        <input type="text" name="title" id="title" />
                        <label for="text">Содержание</label>
                        <textarea name="text" id="text"></textarea>
                        <button class="button">Опубликовать</button>
                    </form>
                </div>
            </th:block>

            <!--/*@thymesVar id="posts" type="com.alamega.alamegaspringapp.post.Post[]"*/-->
            <div class="posts" th:if="${posts.length!=0}">
            <div class="post" th:each="post : ${posts}">
                <div class="post-title">
                    <h1 th:text="${post.getTitle()}"></h1>
                    <!--//TODO Кнопка удаление поста для автора/админа-->
                </div>
                <p th:text="${post.getText()}" class="post-text"></p>
            </div>
            </div>
        </div>
        <div class="sidebar">
            <div th:replace="layout :: sidebar"></div>
        </div>
    </div>

    <footer th:include="layout :: footer"></footer>
</div>
</body>
</html>
