<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout :: head"></th:block>
    <title th:text="${user.getUsername()}">Пользователь</title>
</head>
<body>
<div class="container">
    <header th:include="layout :: header"></header>

    <div class="full-wrapper">
        <div class="content">
            <!--/*@thymesVar id="user" type="com.alamega.alamegaspringapp.user.User"*/-->
            <p th:text="${user.getUsername()}"></p>
            <div th:switch="${user.getRole}">
                <p th:case="'ADMIN'" style="color: red">Администратор</p>
                <p th:case="'USER'" style="color: green">Пользователь</p>
                <p th:case="*">Чёрт</p>
            </div>
        </div>
        <div class="sidebar">
            <div th:replace="layout :: sidebar"></div>
        </div>
    </div>

    <footer th:include="layout :: footer"></footer>
</div>
</body>
</html>
