<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout :: head"></th:block>
    <title th:text="${user.getUsername()}">Пользователь</title>
</head>
<body>
<div class="container">
    <header th:include="layout :: header"></header>

    <div class="full-wrapper">
        <div class="content">
            <!--/*@thymesVar id="user" type="com.alamega.alamegaspringapp.user.User"*/-->
            <h1 class="title" th:text="${user.getUsername()}"></h1>
            <div th:switch="${user.getRole}">
                <p>
                    Роль:
                    <span th:case="'ADMIN'" style="color: red">Администратор</span>
                    <span th:case="'USER'" style="color: green">Пользователь</span>
                    <span th:case="*">Чёрт</span>
                </p>
            </div>

            <div th:if="${currentUser.getRole() == 'ADMIN'}">
                <form style="width: 100%" th:action="@{'/admin/users/role/'+${user.getId()}}" method="post">
                    <button class="button" style="width: 100%; padding: 8px">Сменить роль</button>
                </form>
                <form style="width: 100%" th:action="@{'/admin/users/delete/'+${user.getId()}}" method="post">
                    <button class="button-delete" style="margin:0; width: 100%">Удалить</button>
                </form>
            </div>
        </div>
        <div class="sidebar">
            <div th:replace="layout :: sidebar"></div>
        </div>
    </div>

    <footer th:include="layout :: footer"></footer>
</div>
</body>
</html>
