.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pagination button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(64, 128, 64);
    color: rgb(64, 128, 64);
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: rgb(64, 128, 64);
    color: rgb(255, 255, 255);
}

.pagination button:disabled {
    background-color: gray;
    color: white;
    border: 1px solid white;
    cursor: not-allowed;
}

.pagination .active {
    background-color: rgb(64, 128, 64);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 6px;
}