* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  max-width:960px;
  box-shadow: 5px 5px 10px lightgray, -5px -5px 10px lightgray;
  color: rgb(48, 48, 48);
  background-color: rgba(255, 255, 255, 0.8);
}

header {
  display: flex;
  max-height: 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px black;
  margin: 8px 8px 0;
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
}

header a {
  color: rgb(48, 48, 48);
  font-size: 32px;
  margin: 0;
}

.full-wrapper {
  display: flex;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4 0 0;
  margin: 12px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 0 0;
  margin-right: 16px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background-color: rgba(255, 255, 255, 1);
}

footer {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 0 4px black;
  margin: 0 8px 8px;
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
}

div#clock {
  text-align: center;
  font-size: 32px;
  padding: 0 12px;
}

.title {
  font-size: 28px;
  color: rgb(64, 128, 64);
  align-self: center;
}

a {
  text-decoration: none;
  color: rgb(64, 128, 64);
  padding: 8px;
  transition: all 0.2s;
}

p {
  color: rgb(48, 48, 48);
  margin: 0;
  padding: 8px;
  word-break: break-word;
}

.label-green {
  margin: 4px 2px 0;
  color: rgb(64, 128, 64);
}

.input-green {
  background-color: rgba(255, 255, 255, 1);
  outline-color: rgb(64, 128, 64);
  padding: 8px;
  margin: 8px 0;
  border: 1px solid rgb(64, 128, 64);
  border-radius: 6px;
  color: rgb(64, 128, 64) !important;
}

.button-green {
  border-radius: 6px;
  background-color: white;
  margin: 8px 0;
  border: 1px solid rgb(64, 128, 64);
  color: rgb(64, 128, 64);
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.button-green:hover {
  color: white;
  background-color: rgb(64, 128, 64);
}

.button-delete {
  border-radius: 6px;
  background-color: white;
  margin: 8px 0;
  border: 1px solid red;
  color: red;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}

.button-delete:hover {
  color: white;
  background-color: red;
}

.sidebar a:hover {
  color: white;
  background-color: rgb(64, 128, 64);
}

.form_center {
  display: flex;
  flex-direction: column;
}

.auth-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 1);
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  margin: 4px;
  padding: 4px;
  border: 1px solid rgb(64, 128, 64);
}

.textarea-green {
  outline-color: rgb(64, 128, 64);
  padding: 8px;
  margin: 8px 0;
  border: 1px solid rgb(64, 128, 64);
  border-radius: 6px;
  color: rgb(64, 128, 64);
  resize: none;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  box-shadow: 0 0 4px black;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 6px 6px 0 0;
}

.post-date {
  color: rgb(64, 128, 64);
  font-size: 16px;
  flex-shrink: 0;
}

hr {
  border: none;
  color: rgb(64, 128, 64);
  background-color: rgb(64, 128, 64);
  height: 1px;
  width: 98%;
  border-radius: 6px;
  margin: 0 auto;
}

.post-text {
  border-radius: 0 0 6px 6px;
}



@media (max-width: 960px) {
  .flex_cont {
    flex-direction: column;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .sidebar, div#clock {
    display: none;
  }
}