<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <th:block th:replace="~{layout :: head('Сайтик')}"></th:block>
</head>
<body>
  <div class="container">
    <header th:replace="~{layout :: header}"></header>

    <div class="full-wrapper">
      <div class="content">

        <th:block sec:authorize="isAuthenticated()">
          <p>Здравствуйте, <a style="padding: 0" href="/me" sec:authentication="name"></a>!</p>
          <button class="button-green" onclick="window.location.href = '/admin'" sec:authorize="hasAuthority('ADMIN')">Админка</button>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
          <p>Мб <a style="padding: 0" href="/login">войдешь</a> или хотя бы <a style="padding: 0" href="/registration">зарегаешься</a>?</p>
        </th:block>

      </div>
      <div class="sidebar">
        <div th:replace="~{layout :: sidebar}"></div>
      </div>
    </div>

    <footer th:replace="~{layout :: footer}"></footer>
  </div>
</body>
</html>
